{% extends 'drinks/main.html' %}
{% load static %}
{%block title%}
Check out
{%endblock title%}

{% block content %}
<div class="container-fluid tw-mt-32" >
    <div class="row row-cols-1 row-cols-md-3 tw-flex tw-justify-center tw-mx-1 ">
        <div class="col tw-bg-white tw-mb-4 tw-p-6 md:tw-mr-8 tw-shadow-md" style="border-radius: 2rem; height: fit-content;">
            <div id="form-wrapper">
              <!-- <form action="" id="form1">
                {%csrf_token%}
                
              <button type="submit" class="btn btn-primary">Submit</button>
              </form> -->
                <form id="form">
                  {%csrf_token%}
                 
                  
                  <div class="form-row " id="user-info">
                    <div class="form-group col-12">
                      <strong>Personal Information</strong>
                    </div>
                    <!-- <br> -->
                    <hr>
                    <br>
                    <div class="form-group col-12">
                      <label for="inputName">Name</label>
                      <input type="text"  name="name" class="form-control" id="inputName" placeholder="Full Name...">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" name="email"  class="form-control" id="inputEmail4" placeholder="example@email.com">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="inputPhone">Phone No</label>
                        <input type="tel" name="phone"  class="form-control" id="inputPhone" placeholder="+234(0)8000000">
                    </div>
                  </div>
                    <hr>
                    <br>
                    <div id="shipping-info">
                      <div class="form-group col">
                        <strong>Shipping Address</strong>
                      </div>
                      <hr>
                      <br>
                      <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCountry">Country</label>
                            <input type="text" class="form-control" id="inputCountry" name="country">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputState">State</label>
                            <input type="text" class="form-control" id="inputState" name="state">
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputZipCode">ZipCode</label>
                            <input type="text" class="form-control" id="inputZipCode" name="zipcode">
                          </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="form-button">Continue</button>
                  
                    <!-- <input type="submit" class="btn btn-success tw-rounded-full " id="form-button" value="Continue"> -->
                    <!-- <input type="submit" class="btn btn-success tw-rounded-full " id="form-button" value="Continue"> -->
                  
              </form>
            </div>
            
            <br>
            <!-- <hr> -->
            <div class="tw-hidden" id="payment-info">
              <script src="https://checkout.flutterwave.com/v3.js"></script>
                  <button type="button" onClick="makePayment()" class="btn btn-success tw-rounded-full">Pay Now</button>
  
              <!-- <small>PayPal Option</small>
              <div id="paypal-button-container"></div> -->
              <!-- <button type="submit" id="make-payment" class="btn btn-outline-success tw-rounded-full">Make Payment</button> -->
            </div>
      </div>
        
        <div class="col tw-bg-white tw-mb-4 tw-p-6 tw-shadow-md" style="border-radius: 2rem; height: fit-content;">
            <form>
              <div class="form-group">
                <a href="{% url 'cart' %}" class="btn btn-outline-info tw-rounded-lg tw-text-xl">
                  <i class="fas fa-long-arrow-alt-left fa-md  "></i><span class="ml-2 tw-rounded-full">Back to Cart</span>
              </a>
              </div>
              <hr>
              <br>
              
              <div class="form-group">
                <h2>Order Summary</h2>
              </div>
              <hr>
              <br>

              {% for item in items%}
              <div class="form-row">
                <div class="form-group col-3">
                  <div class="">
                    <img src="{% if item.product.imageURL == '' %} https://via.placeholder.com/500x300/DCDCDC/FFF?text=Dharmie+Parfait {%else%} {{item.product.imageURL}} {%endif%}" style="border-radius: 10%;" class="tw-w-1/2 tw-object-cover" alt="...">
                  </div>
                </div>
                <div class="form-group col-3">
                  <div class="">
                    <span>{{item.product.name}}</span>
                  </div>
                </div>
                <div class="form-group col-3">
                  <div class="">
                    <span>&#x20A6;{{item.get_total}}</span>
                  </div>
                </div>
                <div class="form-group col-3">
                  <div class="tw-flex tw-justify-center md:tw-justify-end lg:tw-justify-center">
                    <span>X{{item.quantity}}</span>
                  </div>
                </div>
              </div>
              <hr>
              <br>
              {% endfor%}
              <div class="form-row">
                <div class="col-6 tw-flex tw-justify-center">
                  Items: <strong class="tw-px-1">{{order.get_cart_items}}</strong>
                </div>
                <div class="col-6">
                  Total: <strong>&#x20A6;{{order.get_cart_total | floatformat:2}}
                </div>
              </div>
            </form>
        </div>
    </div>
    
</div>


<!-- <script src="https://www.paypal.com/sdk/js?client-id=AatM1zPgaCzuE0pYBc6p20cP_56s90xB6T2yPZSM4agJgWyajOY1OxUFk9KUZC-aygTEz4sh0oCy10Es&currency=USD&disable-funding=credit"></script> -->

<!-- <script>
  var total = '{{order.get_cart_total}}'
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({
      style: {
          color: 'gold',
          shape: 'pill',
          size: 'responsive'
      },
      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: parseFloat(total).toFixed(2)
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              // Show a success message to the buyer
              submitFormData()
              
          });
      }


  }).render('#paypal-button-container');
</script> -->

<script type="text/javascript"> 
  var shipping = '{{order.shipping}}'
  var total = '{{order.get_cart_total}}'
  if (shipping == 'False') {
      document.getElementById('shipping-info').innerHTML = ''
  }

  if (user != 'AnonymousUser') {
    document.getElementById('user-info').innerHTML = ''
  }

  if (shipping == 'False' && user != 'AnonymousUser') {
    document.getElementById('form-wrapper').classList.add('tw-hidden');
    document.getElementById('payment-info').classList.remove('tw-hidden')
  }

  var form = document.getElementById('form')
  form.addEventListener('submit', (e) => {
    e.preventDefault();
    console.log('button works');
    document.getElementById('form-button').classList.add('tw-hidden');
    document.getElementById('payment-info').classList.remove('tw-hidden');
    savedetails()
  });
  // document.getElementById('make-payment').addEventListener('click', () => {
    // submitFormData()
  // })
  function savedetails(){
    var userFormData1 = {
      'name': null,
      'email': null,
      'phone': null,
      'total': total,
    }

    if (shipping != 'False'){
      userFormData1.name = '{{order.customer}}'
      userFormData1.email = '{{order.customer.email}}'
      userFormData1.phone = '{{order.customer.phone}}'
    }

    if (user == 'AnonymousUser') {
      userFormData1.name = form.name.value;
      userFormData1.email = form.email.value;
      userFormData1.phone = form.phone.value;
    }
    console.log(userFormData1)
    return userFormData1.email
  }
  
  function submitFormData(){
    console.log('payment completed')
    var userFormData = {
      'name': null,
      'email': null,
      'phone': null,
      'total': total,
    }
    var shippingInfo = {
      'address': null,
      'city': null,
      'state': null,
      'zipcode': null,
    }

    if (shipping != 'False'){
      userFormData.name = '{{order.customer}}'
      userFormData.email = '{{order.customer.email}}'
      userFormData.phone = '{{order.customer.phone}}'
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
    }

    if (user == 'AnonymousUser') {
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;
      userFormData.phone = form.phone.value;
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
    }

    console.log('shipping:', shippingInfo)
    console.log('userform', userFormData)

    var url = '/process-order/'
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
    })
    .then((response) => response.json())
    .then((data) => {
      console.log('process success', data);
      alert('Transaction completed');
      cart = {}
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      window.location.href = "{% url 'store' %}"
    })

  }

  const hex = [0, 1, 2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
    let randomNumber = () => {return Math.floor(Math.random() * hex.length)};
    let rand = '';
    for(let i = 0; i < 10; i++) {
        rand += hex[randomNumber()];
    }
    const transID = 'hooli-tx-' + rand;

    function makePayment() {
      FlutterwaveCheckout({
        public_key: "{{publictest}}",
        tx_ref:' transID',
        amount: '{{order.get_cart_total}}',
        currency: "NGN",
        country: "NG",
        payment_options: "card, ussd",
        redirect_url: // specified redirect URL
          "",
        meta: {
          consumer_id: 12,
          consumer_mac: "92a3-912ba-1192a",
        },
        customer: {
          email: savedetails(),
          phone_number: "08102909304",
          name: name,
        },
        callback: (data) => { 
        console.log('payment completed', data)
        submitFormData() 
      },
        onclose: function() {
          // close modal
        },
        customizations: {
          title: "Darmie Parfait",
          description: "Payment for Parfait in cart",
          logo: "https://storage.googleapis.com/ibk-storages/parfait7.jpg",

          
        },
      });
      
    }
</script>



  <!-- <form>
    {% csrf_token %}
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <button type="button" onClick="makePayment()" class="btn btn-outline-success tw-rounded-full">Pay Now</button>
  </form> -->
  

{% endblock content %}

