{% extends 'drinks/main.html' %}
{% load static %}
{%block title%}
Customer Details
{%endblock title%}

{% block content %}
<div class="tw-mt-24"></div>
{% include 'drinks/dashboardCustomerDetails.html'%}
<!-- <div class="container tw-font-fam6">
   <div class="tw-flex tw-flex-col md:tw-justify-evenly md:tw-flex-row ">
        <div class="tw-bg-white tw-p-5 tw-text-center tw-mb-4 md:tw-mb-0 md:tw-w-1/2" style="border-radius: 1.5rem;">
            <h2 class="tw-font-bold tw-text-3xl">Contact Information</h2>
            <br>
            <hr>
            <br>
            <p class="tw-font-semibold tw-text-xl">Name: {{customers.name}}</p>
            <br>
            <p class="tw-font-semibold tw-text-xl">Email: {{customers.email}}</p>
            <br>
            <p class="tw-font-semibold tw-text-xl">Phone: {{customers.phone}}</p>
        </div>

        <div class="tw-bg-white tw-p-5 tw-text-center md:tw-w-1/5 " style="border-radius: 1.5rem;">
            <h2 class="tw-font-bold tw-text-3xl">Total Orders</h2>
            <br>
            <hr>
            <br>
            <p class="tw-font-semibold tw-text-4xl">{{ordersCount}}</p>
        </div>
        <div class="tw-bg-white tw-p-5 tw-text-center md:tw-w-1/5 " style="border-radius: 1.5rem;">
            <h2 class="tw-font-bold tw-text-3xl">Total Payments</h2>
            <br>
            <hr>
            <br>
            <p class="tw-font-semibold tw-text-4xl">{{totalPayment}}</p>
        </div>
   </div>
</div> -->

<a href="{% url 'all-customers' %}" class="btn btn-outline-info tw-rounded-full tw-text-xl tw-m-4">
    <i class="fas fa-long-arrow-alt-left fa-sm  "></i><span class="ml-2 tw-text-base md:tw-text-lg tw-font-bold">Back to Customers</span>
    
</a>

<div class="tw-bg-gray-200 tw-p-5 tw-text-center tw-mb-4 container-fluid" >
    <form action="" method="get" id="searchForm">
        {{myFilter.form}}
        <button class="btn btn-primary tw-rounded-full" type="submit">Search</button>
    </form>
</div>

<div class="tw-mx-2">
    <div class="table-responsive">
        <table class="table table-striped tw-mt-2"> <!-- could add table-sm-->
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#Transaction ID</th>
                    <th scope="col">Order ID</th>
                   
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Order Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Complete Payment</th>
                    <th scope="col">Delivery Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in orderItems%}
                
                <tr class="tw-font-bold tw-text-lg">
                    <th scope="row">{{item.order.transaction_id}}</th>
                    <td >{{item.order.id}}</td>
                    
                    <td>{{item.date_added | date:'M d, Y'}}</td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.get_total}}</td>
                    <td>{{item.order.complete}}</td>
                    <td>{{item.order.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
        
    </div>

    <div class="container tw-flex tw-justify-center tw-text-lg tw-my-4">
		
		{% if orderItems.has_other_pages %}

			<ul class="pagination">

				{% if orderItems.has_previous %}
					<li class="page-item tw-mr-1 "><a data-page="{{orderItems.previous_page_number}}" href="?page={{orderItems.previous_page_number}}" class="page-link">&laquo</a></li>

					<li class="page-item tw-mr-1"><a data-page="1" href="?page=1" class="page-link  tw-rounded-md">First</a></li>
                {% endif %}
                
                {% for i in orderItems.paginator.page_range %}
					{% if orderItems.number == i %}
						<li class="page-item active tw-mr-1 "><a class="page-link  tw-rounded-md">{{i}}</a></li>
                    {%elif i > orderItems.number|add:'-3' and i < orderItems.number|add:'3' %}
                        <li class="page-item tw-mr-1"><a data-page="{{i}}" href="?page={{i}}" class="page-link  tw-rounded-md">{{i}}</a></li>
					{% endif %}
					
				{% endfor %}


				{% if orderItems.has_next %}
					<li class="page-item tw-mr-1"><a data-page="{{orderItems.paginator.num_pages}}" href="?page={{orderItems.paginator.num_pages}}" class="page-link  tw-rounded-md">Last</a></li>

					<li class="page-item"><a data-page="{{orderItems.next_page_number}}" href="?page={{orderItems.next_page_number}}" class="page-link">&raquo</a></li>
				{% endif %}
			</ul>

		{% endif %}
    </div>
</div>

<script type="text/javascript">
	let searchForm = document.getElementById('searchForm')
	let pageLinks = document.getElementsByClassName('page-link')

	for(var i=0; pageLinks.length > i; i++){

		pageLinks[i].addEventListener('click', function(e){
			e.preventDefault()
			let page = this.dataset.page
			console.log('Page:', page)
			searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
			searchForm.submit()
		})

	}
</script>
{% endblock content%}