{% extends 'drinks/main.html' %}
{% load static %}
{%block title%}
Update Orders
{%endblock title%}

{% block content %}
<div class="tw-mt-24"></div>

<div class="container">
    
     <div class="">
            <legend class="tw-font-bold">Update {{name}} Order {{orderDetail.id}}</legend>
            <hr>
            <br>
            <form action="" method="post">
               
                {% csrf_token%}
                <div class="col-12">
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <span class="tw-text-lg">{{ field.label_tag }} </span>
                            <div class="tw-mb-3">{{ field }}</div>
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Submit" name="Submit" class="btn btn-success tw-mb-4 tw-rounded-full">
                </div>
                
            </form>
            
        </div>
    
</div>
{% endblock content%}