{% extends 'drinks/main.html' %}
{% load static %}
{%block title%}
Parfait Item Detail
{%endblock title%}

{% block content %}
<!-- <div class="col tw-mb-4">
    <div class="card h-100 tw-overflow-hidden" style="border-radius: 5%;">
      <img src="{% if products.imageURL == '' %} https://via.placeholder.com/500x300/DCDCDC/FFF?text=Dharmie+Parfait {%else%} {{products.imageURL}} {%endif%}" class="card-img-top tw-object-cover tw-h-64 " alt="...">
      <div class="card-body">
        <h5 class="card-title tw-font-extrabold tw-text-3xl">{{products.name}}</h5>
        <p class="card-text tw-text-lg tw-font-bold tw-text-yellow-600">{{products.description | safe}}</p>
      </div>
      <div class="card-body tw-flex tw-justify-between tw-items-center">
        <div class="tw-flex tw-items-center">
          
          <button data-product={{products.id}} data-action="add" data-record="{{products.records}}" class="card-link hover:tw-text-yellow-600 tw-transition tw-duration-700 update-cart"> 
            <svg class="tw-w-8 lg:tw-w-10"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          </button>
          <a href="" class="card-link hover:tw-text-yellow-600 tw-transition tw-duration-700"> 
            <svg class="tw-w-8 lg:tw-w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </a>
        </div>
        
          <h2 class="tw-text-xl"><strong>&#x20A6;{{products.price | floatformat:2}}</strong></h2>
        
      </div>
    </div>
</div> -->

<div class="container tw-mt-32">
    <div class="store-parfait-container tw-flex tw-flex-col tw-justify-center tw-items-center md:tw-flex md:tw-flex-row md:tw-justify-evenly">
        <div class="image md:tw-w-1/3  tw-w-full tw-mb-3">
            <img src="{% if products.imageURL == '' %} https://via.placeholder.com/500x300/DCDCDC/FFF?text=Dharmie+Parfait {%else%} {{products.imageURL}} {%endif%}" class="card-img-top tw-object-cover tw-h-64 " style="border-radius: 16px;" alt="...">
        </div>
        <div class="details tw-w-full md:tw-flex tw-justify-evenly tw-items-center md:tw-ml-4">
            <div class="tw-mb-3">
                <div class="name tw-font-extrabold tw-text-3xl">
                    {{products.name}}
                </div>
                <div class="amount tw-font-extrabold tw-text-xl">
                    &#x20A6;{{products.price | floatformat:2}}
                </div>
                <div class="description tw-text-lg tw-font-bold tw-text-yellow-600">
                    {{products.description | safe}}
                </div>
                <div class="description tw-mt-2 tw-text-lg tw-font-bold tw-text-yellow-800">
                    {{products.full_description | linebreaksbr}}
                </div>
            </div>
            <div class="quantity-cart tw-mb-3">
                <div class="">
                    <button data-product={{products.id}} data-action="add" data-record="{{products.records}}" class="card-link btn btn-success tw-flex tw-items-center tw-justify-center tw-rounded-full update-cart"> 
                        <i class="fas fa-shopping-cart fa-lg  "></i> <span>Add to Cart</span>
                    </button>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <p class="tw-text-center tw-my-4 tw-text-4xl md:tw-text-5xl tw-font-fam5 tw-font-black tw-text-yellow-600">You may also like </p>
</div>

<div class="container-fluid tw-flex tw-flex-col tw-justify-center tw-items-center md:tw-flex md:tw-flex-row  md:tw-justify-evenly">
    {%for item in allproducts%}
    
        <div class="image tw-w-full tw-mb-5 md:tw-w-1/5">
            <img src="{% if item.imageURL == '' %} https://via.placeholder.com/500x300/DCDCDC/FFF?text=Dharmie+Parfait {%else%} {{item.imageURL}} {%endif%}" class="card-img-top tw-object-cover tw-h-64 " style="border-radius: 1rem;" alt="...">
            <div class="tw-font-bold tw-text-xl ">{{item.name}}</div>
            <div class="tw-font-bold tw-text-lg">&#x20A6;{{item.price | floatformat:2}}</div>
            <div>
                <a href="{% url 'store-parfait' item.slugProduct %}" class="card-link btn btn-outline-primary btn-sm tw-rounded-full tw-m-1"> <!--view product-->
                    <i class="fas fa-eye fa-lg  "></i> <span>View</span>
                </a>
            </div>

        </div>
    {% endfor %}
</div>
{%endblock content%}