.social-icons a{
    text-decoration: none;
}

.social-icons a:hover{
    color: white;
}

.nav-link:active {
    color: blue;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 3rem;
   
  }


.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none; }